<h3 class="ui header">{{t "forms.i-i-s-probaodinadcat-комната-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерКомнаты
      class=(if (v-get validationModel "номерКомнаты" "isInvalid") "error")
      label=(t "forms.i-i-s-probaodinadcat-комната-e.номерКомнаты-caption")
      data-test-i-i-s-probaodinadcat-комната-e-номерКомнаты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерКомнаты" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.этаж
      class=(if (v-get validationModel "этаж" "isInvalid") "error")
      label=(t "forms.i-i-s-probaodinadcat-комната-e.этаж-caption")
      data-test-i-i-s-probaodinadcat-комната-e-этаж=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "этаж" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.количествоМест
      class=(if (v-get validationModel "количествоМест" "isInvalid") "error")
      label=(t "forms.i-i-s-probaodinadcat-комната-e.количествоМест-caption")
      data-test-i-i-s-probaodinadcat-комната-e-количествоМест=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "количествоМест" "message")}}
  </div>
</form>
